POSTGRES_USER=sindicato
POSTGRES_PASSWORD=replace_with_local_password
BACKEND_N8N_AUTH_EMAIL=n8n@sindicato.es
BACKEND_N8N_AUTH_PASSWORD=replace_with_local_password
N8N_SECURE_COOKIE=false
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
